<div class="container">
  <div class="imagenav">
    {% if page.previous %}
      <a href="{{ page.previous.url }}" class="prev">{{ page.previous.title }}</a>
    {% else %}
      <a href="/{{ page.category }}/" class="prev">Back to {{ page.category }}</a>
    {% endif %}

    {% if page.next %}
      <a href="{{ page.next.url }}" class="next">{{ page.next.title }}</a>
    {% else %}
      <a href="/{{ page.category }}/" class="next">Back to {{ page.category }}</a>
    {% endif %}
  </div>
</div>
