---
layout: default
title: Archived
permalink: images/archive-list/
category: images
---
<div class="container mini__outer">
{% for post in site.posts %}
  {% if post.archive == true %}
    <div class="mini">
      <div class="mini__image">
        <a href="/img/{{post.year}}-{{post.slug}}-detail.jpg" data-fancybox data-caption="{{post.title}} - detail"><img src="/img/{{post.year}}-{{post.slug}}.jpg" alt="{{post.title}} - {{post.year}}"></a>
      </div>
      <div class="mini_description">
        <h2>{{post.title}}</h2>
        <p>{{post.description}} ({{post.year}})</p>
        <p><a href="/img/{{post.year}}-{{post.slug}}-detail.jpg" data-fancybox data-caption="{{post.title}} - detail">View {{post.title}} detail</a></p>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
