---
layout: default
---

{% include nav-section.html %}

<div class="container">
  <div class="row">
    <div class="span6">
      <a class="fancybox" href="/img/{{page.year}}-{{page.slug}}-detail.jpg" title="{{page.title}} - detail"><img src="/img/{{page.year}}-{{page.slug}}.jpg" alt="{{page.title}} - {{page.year}}"></a>
    </div>

    <div class="span6 description">
      <h2>{{page.title}}</h2>
      <p>{{page.description}} - {{page.year}}</p>
      <p><a class="fancybox" href="/img/{{page.year}}-{{page.slug}}-detail.jpg" title="{{page.title}} - detail">View Detail</a></p>
    </div>
  </div>
</div>
